$primary-white: #fff;
$primary-black: #000;


$secondary-black:#181818;
//theme colors
$primary-color: #c93948;
$secondary-color: #181818;
$tertiary-color: #fefbe9;
$sky-blue: #e1eedd;
$primary-green: #183a1d;
// $tertiary-white: #c8d8e4;

$heading-color: #333;
$text-color:#666;

$text-sm: 14px;
$text-base: 16px;
$text-md: 18px;
$text-lg: 20px;

// @media only screen and (min-width: 981px)
// .et-fixed-header#main-header, .et-fixed-header#main-header .nav li ul, .et-fixed-header .et-search-form {
//     background-color: rgba(24,24,24,0.89);
// }