body {
  -ms-overflow-style: none; }

.bg-gray {
  background-color: lightgray !important; }

.w-65 {
  max-width: 65% !important; }

.b-b0 {
  border-bottom: none !important; }

.fa-file-export {
  font-size: 18px; }

.ml-a {
  margin-left: auto; }

.logo-custom.logo-invert img {
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1); }
.logo-custom a {
  height: 37px;
  justify-content: center;
  font-weight: 700; }
  .logo-custom a img {
    height: 100%; }
.logo-custom .desktop-logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  height: 100%; }
  .logo-custom .desktop-logo img {
    margin-right: 5px; }

.rakumo-nav img {
  padding: 0 8px; }
.rakumo-nav img.active {
  display: none; }
.rakumo-nav:hover img.default {
  display: none; }
.rakumo-nav:hover img.active {
  display: block; }
.rakumo-nav .rakumo-horizontal {
  height: 15px; }

.btn__width {
  min-width: 10px; }

.main-header-center .input-group {
  flex-wrap: nowrap; }

.main-header-left .desktop-logo {
  color: #000;
  display: -webkit-box; }

.margin__sigin {
  margin-top: 19%; }

.form-cust .form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 5px;
  position: relative; }
  .form-cust .form-group .field__inner {
    display: flex;
    align-items: baseline; }
    .form-cust .form-group .field__inner input {
      max-width: 100px; }
    .form-cust .form-group .field__inner p {
      margin-left: 20px; }
  .form-cust .form-group .btn-dark:hover {
    background-color: #656d84;
    border-color: #5a6277; }
  .form-cust .form-group p {
    margin-bottom: 10px; }
  .form-cust .form-group input {
    max-width: 250px;
    color: #000; }
  .form-cust .form-group .google_drive {
    position: absolute;
    right: 0;
    opacity: 0;
    cursor: pointer; }
.form-cust ::placeholder {
  color: black; }
.form-cust.form-read input {
  border: none;
  background-color: transparent; }
.form-cust .button__position__A2 {
  margin-left: auto; }

.text__bold thead tr th {
  font-weight: 600; }

.main-navbar .nav-item {
  padding-right: 18px !important; }

.nav-sub {
  max-height: 515px;
  overflow: auto; }

.custom-card .card__padding {
  padding: 10px 0 !important; }
.custom-card table .underline__text {
  text-decoration: underline; }
.custom-card table thead tr {
  text-align: center; }
  .custom-card table thead tr th {
    padding: 1px; }
.custom-card table tbody tr {
  text-align: center; }
  .custom-card table tbody tr td {
    padding: 1px; }
    .custom-card table tbody tr td .btn {
      min-height: 18px !important;
      line-height: 0 !important; }
.custom-card .table_css tr th {
  text-transform: lowercase; }
.custom-card .inner__card {
  flex-basis: 40%; }
.custom-card .card-body {
  padding: 7px 15px; }
  .custom-card .card-body .inner__card_b1 .inner__border {
    border: 1px solid #e8e8f7;
    padding: 7px 10px 0px 18px;
    margin-bottom: 10px;
    border-radius: 10px; }
    .custom-card .card-body .inner__card_b1 .inner__border p {
      margin-bottom: 0; }
    .custom-card .card-body .inner__card_b1 .inner__border .fa-times {
      position: absolute;
      right: 10px;
      top: 22%;
      font-size: 13px;
      color: lightgray; }
    .custom-card .card-body .inner__card_b1 .inner__border .date__position {
      position: absolute;
      right: -20px;
      font-size: 17px; }
    .custom-card .card-body .inner__card_b1 .inner__border .form__inner__b1 {
      max-width: 70%;
      margin-left: auto; }
    .custom-card .card-body .inner__card_b1 .inner__border .last__part__border .form-check {
      padding-left: 0; }
      .custom-card .card-body .inner__card_b1 .inner__border .last__part__border .form-check .form__inner__b1 {
        max-width: 100%; }
    .custom-card .card-body .inner__card_b1 .inner__border .last__part__border .modal .max-width-modal {
      max-width: 700px; }
  .custom-card .card-body .form-group {
    margin-bottom: 8px; }
    .custom-card .card-body .form-group .form-control {
      height: 29px;
      font-size: 12px; }
  .custom-card .card-body .accordion .card-header a {
    padding: 4px 20px; }
  .custom-card .card-body .btn-white, .custom-card .card-body .btn-primary {
    min-height: 26px;
    line-height: 1; }
  .custom-card .card-body .card-body-part-dropdown {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap; }
    .custom-card .card-body .card-body-part-dropdown .main__dropdown {
      display: flex;
      margin: 5px 20px; }
  .custom-card .card-body .card-header p {
    margin-bottom: 0px; }
.custom-card .card-header {
  position: relative; }
  .custom-card .card-header .button__position {
    position: absolute;
    right: 0;
    z-index: 1;
    top: 0; }
    .custom-card .card-header .button__position .btn {
      background: none;
      border: none; }
      .custom-card .card-header .button__position .btn a {
        background: white;
        padding: 2px 13px; }

.form-cust .inner__div_border {
  border: 1px solid #e8e8f7;
  text-align: center;
  border-radius: 25px;
  margin: 10px 0;
  background-color: #e7e7f1; }
  .form-cust .inner__div_border .inner__div__parts {
    padding: 10px; }
    .form-cust .inner__div_border .inner__div__parts h6 {
      color: red; }
    .form-cust .inner__div_border .inner__div__parts .color__inner {
      font-weight: 600;
      color: #6259ca; }
.form-cust .form-group {
  height: auto; }
  .form-cust .form-group .width__given {
    width: 280px;
    margin: 0; }
  .form-cust .form-group select {
    max-width: 250px; }
  .form-cust .form-group .fe-search {
    font-size: 12px;
    position: absolute;
    right: 6px;
    color: gray; }
  .form-cust .form-group .form-check {
    height: 15px !important; }
  .form-cust .form-group .max-width-form {
    max-width: 84%; }
  .form-cust .form-group .max-width-form-minor {
    max-width: 76%; }

@media (min-width: 992px) and (max-width: 1172px) {
  .main-header-center .form-control {
    width: 181px !important; } }
@media screen and (max-width: 1150px) {
  .form-cust .form-group select,
  .form-cust .form-group input {
    max-width: 200px; } }
@media screen and (min-width: 992px) {
  .main-navbar .nav-link i {
    margin-right: 8px;
    font-size: 13px; } }
@media (max-width: 991px) {
  .page__responsive {
    display: flex !important; }

  .responsive-logo {
    height: 40px; }
    .responsive-logo img {
      height: 100%; }

  .logo-custom .desktop-logo {
    color: #000; }

  .main-header .main-logo {
    display: none; }

  .form-cust .form-group select,
  .form-cust .form-group input {
    max-width: 250px; }

  .form-cust .form-group {
    flex-wrap: wrap; }

  .main__type .form-group {
    flex-wrap: nowrap; }

  .form-cust .form-group .max-width-form-minor {
    max-width: 72%; } }
@media (max-width: 767px) {
  .form-cust .form-group .max-width-form {
    max-width: 70%; }

  .custom-card .card-body .card-body-part-dropdown {
    justify-content: center; } }
@media (max-width: 599px) {
  .form-cust .form-group .max-width-form-minor {
    max-width: 89%; }

  .logo-custom .desktop-logo {
    justify-content: center; }

  .custom-card .card-body .inner__card_b1 .inner__border .form-group {
    flex-direction: row; }

  .main__type .form-group {
    flex-direction: row !important; }

  .custom-card .card-body .form-group {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center; }

  .form-cust .fe-search {
    top: 60%; }
  .form-cust .max-width-form {
    max-width: 100%; }
  .form-cust .button__position__A2 {
    margin: 0; }

  .form-cust .form-group select,
  .form-cust .form-group input {
    max-width: 100%; }

  .custom-card .date__position {
    display: none; }
  .custom-card .card-header .main__responsive {
    height: 95px; }
  .custom-card .card-header .main__responsive__inner {
    top: 40px;
    left: 0; } }
@media (max-width: 374px) {
  .form-cust .form-group .width__given {
    width: 240px;
    font-size: 12px; }

  .custom-card .card-header .main__responsive {
    height: 150px; } }

/*# sourceMappingURL=template.css.map */
