html,
body {
    -webkit-tap-highlight-color:transparent;
    -webkit-touch-callout:none;
    -webkit-text-size-adjust:100%;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-smoothing: antialiased;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 1200px){
    .container {
    max-width: 1600px;
    }
}

@media (max-width: 1200px){
    .container {
    max-width: 1300px;
    }
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    position: relative;
    z-index: 20;
}

.system .dropdown .btn {
    border-radius: 25px;
    background-color: #0E999E;
    box-shadow: 0 3px 6px rgba(14, 153, 158, 0.3);
    border: 0;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 35px;
}

.system .btn-secondary:not(:disabled):not(.disabled).active,
.system .btn-secondary:not(:disabled):not(.disabled):active,
.system .show>.btn-secondary.dropdown-toggle {
    background-color: #0d7e82;
    border-color: transparent;
}

.main-body {
    background-image: url(../images/bear.png);
    background-repeat: no-repeat;
    background-position-y: center;
}

.description {
    margin-top: 243px;
}

.description h2 {
    font-size: 22px;
    font-weight: 500;
    color: #0E999E;
    margin-bottom: 8px;
}

.description h1 {
    font-size: 45px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}

.description p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, .53);
    line-height: 30px;
    margin: 0;
    margin-bottom: 60px;
}

.footer {
    display: flex;
    margin-top: 225px;
    margin-bottom: 10px;
}

.footer a {
    color: #000;
    font-size: 15px;
    font-weight: 400;
    margin-left: 50px;
    text-decoration: none;
}

.footer a:first-child {
    margin-left: 0;
}

.term-list {
    height: 225px;
    overflow: auto;
}

.term-list ul {
    list-style-type: none;
    padding-left: 0;
}

.term-list ul li {
    position: relative;
    padding-left: 40px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #fff;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px
}

.condition {
    background-color: #F6FDFE;
    padding: 40px;
    margin-top: 0 !important;
}

.term-list ul li::before {
    content: '';
    position: absolute;
    height: 6px;
    width: 6px;
    background-color: #000;
    left: 25px;
    top: 22px;
    border-radius: 100%;
}

.condition p {
    margin-bottom: 25px;
}

.term-body {
    margin-top: 0;
}

.term-body .footer {
    margin-top: 50px;
}

.main-body .owl-theme .owl-nav.disabled+.owl-dots {
    display: none !important;
}

.main-wrap {
    position: relative;
    min-height: 100vh;
}

.main-wrap::before {
    content: '';
    position: absolute;
    background: url(../images/wave.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    z-index: 9;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0
}

.info-div {
    position: relative;
    z-index: 10;
}

.product-list {
    margin-top: 50px;
}

/******************************** media quaries starts ********************************/
@media (max-width: 1350px) {
    .main-wrap::before {
        background-size: 80%;
    }
}
@media (max-width: 1199px) {
    .main-wrap::before {
    background-size: 100%;
    }
    .description {
    margin-top: 100px;
    }
    .description h1 {
        font-size: 35px;
    }
    .description p {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 60px;
    }
    .footer {
    margin-top: 100px;
    }
    .term-list ul li {
        font-size: 14px;
    }
    .footer a {
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .product-list {
    margin-top: 50px;
    }
}


@media (max-width: 575px) {
    .system .dropdown-item {
        font-size: 14px;
    }
    .description h1 {
    font-size: 25px;
    }
    .description h2 {
        font-size: 16px;
    }
    .condition {
        padding: 20px;
    }
    .system .dropdown .btn {
    font-size: 12px;;
    padding: 9px 20px;
    }
    .term-body .footer {
        margin-top: 20px;
        justify-content: center;
    }
    .footer a {
        font-size: 12px;
        margin-left: 30px;
    }
    .header {
        margin: 30px 0;
    }
    .term-list ul li {
        padding-left: 20px;
    }
    .term-list ul li::before {
    left: 10px;
    top: 20px;
    }
    .term-list ul li {
    font-size: 12px;
    }
}

@media (max-width: 425px) {
    .system .dropdown .btn {
    font-size: 9px;
    padding: 7px 10px;
    }
    .footer a {
    font-size: 10px;
    margin-left: 20px;
    }
    .description h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .description h2 {
    font-size: 13px;
    }
    .description p {
    font-size: 12px;
        line-height: 20px;
        margin-bottom: 30px;
    }
}