/* @media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1630px;
    }
} */
@media(max-width:2560){
    .container{
        max-width: 1200px;
    }
}
@media(max-width: 1440px){
    .header{
        padding: 5px 15px;
    }
    .logo{
        height: 45px;
    }
    .contact-button{
        height: 45px;
        padding: 0;
        width: 150px;
    }
    .under-header-title{
        font-size: 26px;
    }
    .under-header-buttons img {
        height: 60px;
        width: 170px;
    }
    .pre-registration-top h6 {
        font-size: 20px;
    }
    .pre-registration-top .no-margin {
        font-size: 12px;
    }
    .pre-registration-container {
        padding: 50px 5px;
    }
    .about-title{
        font-size: 30px;
    }
    .about-content p{
        font-size: 16px;
    }
    .inquiry-contents{
        color: #707070;
    }
    .inquiry-contents h6 {
        font-size: 24px;
    }
    .inquiry-contents p{
        font-size: 14px;
    }
    .inquiry-form label {
        font-size: 18px;
    }
    .inquiry-form label {
    font-size: 18px;
    }
    .send-button button {
        padding: 10px 20px;
    }
    .left-bottom p {
        font-size: 24px;
    }
    .left-bottom p {
        font-size: 16px;
    }
    .right-bottom .no-margin {
        font-size: 15px;
    }
    .under-content {
        padding: 60px 0;
    }
    .nav-tabs .nav-item .nav-link {
        font-size: 18px;
        padding: 10px 30px;
    }
    .tab-pane h6 {
        font-size: 20px;
    }
    .tab-pane p{
        font-size: 16px;
    }
    .work-head{
        font-size: 28px;
    }
    .privacy-header{
        font-size: 24px;
    }
    .privacy-policy-main .container .no-margin {
        font-size: 16px;
    }
    .terms-header{
        font-size: 24px;
    }
    .terms-main .container .no-margin {
        font-size: 16px;
    }
    .company-head {
        font-size: 24px;
    }
    .first-table {
        font-size: 16px;
    }
    .tables .no-margin {
        font-size: 13px;
    }
    .wave-back::after {
        background-size: 60%; 
    }
    
}
@media(max-width:1199px){
    .under-header-title {
        font-size: 30px;
    }
}
@media(max-width:1163px){
    .tab-navigation{
        margin: 0 45px;
    }
    .user-tabs .top-pane{
        margin: 0 45px 50px;
    }
}
@media(max-width:1024px){
    .tab-navigation{
        margin: 0 76px;
    }
    .user-tabs .top-pane{
        margin: 0 76px 50px;
    }
}
@media(max-width:991px){
    .under-header-title {
        font-size: 24px;
    }
    .footer{
        flex-direction: column;
        align-items: flex-start;
    }
    .left-bottom{
        flex-direction: column;
    }
    .right-bottom{
        margin-top: 10px;
    }
    .about-portion{
        flex-direction: column;
    }
    .about-content{
        margin: auto;
    }
    .about-title{
        text-align: center;
    }
    .about-image{
        text-align: center;
        padding-top: 15px;
    }
    .about-image img{
        height: 190px;
    }
    .inquiry-portion .container {
        padding: 100px 15px 190px;
    }
    .work-head {
        text-align: center;
    }

}
/* @media(Max-width: 894px){
    .terms-main:before, .privacy-policy-main:before, .company-main:before{
        background: url(../images/mobile-background.jpg) no-repeat center/cover;
        z-index: -1;
        background-attachment: fixed;
        background-size: 100%;
    }
    
} */
@media(max-width:882px){
    .tab-navigation{
        margin: 0 35px;
    }
    .user-tabs .top-pane{
        margin: 0 35px 50px;
    }
}
@media(max-width:768px){
    .footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 20px;
    }
    .privacy-policy-main .container{
        padding: 20px 20px 35px;
    }
    .privacy-policy-main .container .no-margin{
        padding-bottom: 20px 20px 120px;
    }
    .terms-main .container{
        padding: 20px 20px 120px;
    }
}
@media(Max-width: 767px){
    .header{
        align-items: flex-start;
    }
    .button-top{
        display: flex;
        flex-direction: column;
    }
    .pull-right{
        margin-top: 10px;
    }
    .banner-content {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    .under-content{
        width: 100%;
    }
    .under-content {
        padding: 0;
    }
    .left-under{
        padding-bottom: 15px;
        margin: auto;
        width: 100%;
        text-align: center;
    }
    .footer{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 18px;
    }
    .work-part{
        padding: 20px;
    }
    .nav-tabs .nav-item{
        width: 140px;
    }
    
    /* .privacy-policy-main .container{
        padding: 20px;
    }
    .privacy-policy-main .container .no-margin{
        padding-bottom: 20px;
    }
    .terms-main .container{
        padding: 20px;
    } */
    .terms-main .container .no-margin{
        padding-bottom: 20px;
    }
    .nav-tabs .nav-item .nav-link {
        font-size: 12px;
        padding: 10px 0;
    }
}
@media(max-width: 574px){
    .inquiry-portion .container {
        padding: 50px 15px 150px;
    }
    .inquiry-form .form-control {
        padding: 20px 10px;
    }
}

@media(max-width: 565px){
    .nav-tabs .nav-item .nav-link {
        padding: 10px 15px;
    }
    .tab-navigation .nav-item {
        border-top-left-radius: 7px !important;
        border-top-right-radius: 7px !important;
    }
    .nav-tabs .nav-item .nav-link {
        border-top-left-radius: 7px !important;
        border-top-right-radius: 7px !important;
    }
    .tab-pane .top-pane {
        border-top-right-radius: 7px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }
}
@media(max-width:555px){
    .nav-tabs .nav-item .nav-link {
        font-size: 12px;
        padding: 10px 0;
    }
    .nav-tabs .nav-item {
        width: 122px;
    }
}
@media(max-width: 465px){
    .nav-tabs .nav-item {
        width: 113px;
    }
}
@media(max-width:455px){
    
    .tab-pane .top-pane{
        padding: 15px 10px 25px;
    }
    .user-tabs .top-pane {
        margin: 0 35px 35px;
    }
    .nav-tabs .nav-item{
        margin-right: 5px;
    }
    .nav-tabs .nav-item .nav-link {
        padding: 10px 0px;
    }
    
}
@media(max-width:450px){
    .header{
        display: flex;
        flex-direction: row;
    }
    .logo {
        display: flex;
        align-items: center;
    }
    .logo img{
        height: 85%;
    }
    .contact-button {
        height: 30px;
        /* padding: 0 10px 25px; */
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tab-pane h6 {
        font-size: 14px;
    }
    .tab-pane p {
        font-size: 10px !important;
    }
    .pre-registration-top .no-margin {
        font-size: 10px !important;
    }
    .top-portion-company{
        justify-content: center;
    }
    .tab-navigation .nav-item{
        border-top-left-radius: 7px !important;
        border-top-right-radius: 7px !important;
    }
    .tab-navigation .nav-item .nav-link{
        border-top-left-radius: 7px !important;
        border-top-right-radius: 7px !important;
    }
    .button-top{
        margin-top: 0;
    }
}
@media(max-width: 488px){
    .company-main .container{
        padding: 20px 20px 120px;
    }
}
@media(max-width: 474px){
    .responsive-bottom-pad{
        padding-bottom: 15px;
    }
    .nav-tabs .nav-item {
        width: 96px;
    }
    .nav-tabs .nav-item .nav-link {
        font-size: 10px;
        padding: 8px 0px;
    }
    .login-group ul{
        flex-direction: column;
    }
    .login-group ul li::before{
        content: '';
    }
}

@media(max-width:425px){
    .first-table{
        font-size: 11px;
    }
    .tables .no-margin {
        font-size: 9px;
    }
    .about-title {
        margin-bottom: 25px;
    }
    .work-head{
        text-align: center;
    }
    .sign-up button {
        padding: 6px 5;
    }
    .pre-registration-bottom .form .form-control {
        padding: 17px 5px;
    }
    .first-table .table-left-col {
        width: 100px;
    }
    .banner-contaier{
        width: 95%;
    }
    .under-content{
        width: 95%;
    }
    .sliders{
        width: 100%;
    }
}
@media(max-width:377px){
      .form .form-control::-webkit-input-placeholder { /* Edge */
        font-size: 13px;
      }
      
      .form .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 13px;
      }
      
      .form .form-control::placeholder {
        font-size: 13px;
      }
}
@media(max-width: 372px){
    .nav-tabs .nav-item {
        width: 92px;
        margin-right: 2px;
    }
    .nav-tabs .nav-item .nav-link{
        padding: 8px 1px;
        font-size: 9px;
    }
}
@media(max-width:365px){
    .inquiry-contents p{
        font-size: 12px;
    }
    .contact-button{
        width: 120px;
    }
}
@media(max-width:358px){
    .under-header-title {
        font-size: 21px;
    }
}
@media(max-width: 356px){
    .nav-tabs .nav-item {
        width: 86px;
    }
}
@media(max-width:345px){
    .tab-navigation {
        margin: 0 25px;
    }
    .user-tabs .top-pane {
        margin: 0px 25px 30px;
    }
}
@media(max-width: 344px){
    
    .left-bottom{
        width: 295px;
        font-size: 13px;
    }
    .right-bottom{
        font-size: 13px;
    }
    /* .button-top{
        margin-top: 10px;
    } */
    .left-bottom p {
        font-size: 12px;
    }
}
/* @media(max-width: 325px){
    .nav-tabs .nav-item .nav-link {
        font-size: 8px;
        padding: 5px;
    }
} */




/* @media(min-width:320px){
    .nav-tabs .nav-item{
        width: 85px;
        margin-right: 5px;
    }
    .nav-tabs .nav-item .nav-link {
        font-size: 8px;
    }
} */
/* @media(min-width:475px){
    .nav-tabs .nav-item{
        width: 105px;
    }
} */
/* @media(min-width:556px){
    .nav-tabs .nav-item{
        width: 155px;
    }
    .nav-tabs .nav-item .nav-link {
        font-size: 18px;
        padding: 10px 5px;
        font-size: 15px;
    }
} */
@media(min-width:768px){
    .responsive-bottom-pad{
        padding-bottom: 20px;
    }
    .user-tabs .nav-item{
        width: 190px;
    }
    .user-tabs .nav-item .nav-link{
        padding: 10px 5px;
    } 

}
@media(min-width: 1024px){
    .work-part .container img{
        margin: 85px 0;
    }
    .user-tabs .nav-item{
        width: 225px;
    }
    .user-tabs .nav-item .nav-link{
        text-align: center;
    }
    
}
@media(min-width: 1400px){
    
    .pre-registration-bottom .form .form-control{
        padding: 27px 15px;
    }
    .sign-up button{
        padding: 15px 30px;
    }
    .about-image img{
        max-height: 480px;
    }
    .first-table .table-left-col {
        width: 170px;
    }
}
@media(min-width: 1440px){
    
    .about-content{
        max-width: 65%;
    }
    .under-header-title {
        font-size: 38px;
    }
    .user-tabs .nav-item{
        width: 285px;
    }
    
}