

html,
body {
    -webkit-tap-highlight-color:transparent;
    -webkit-touch-callout:none;
    -webkit-text-size-adjust:100%;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-smoothing: antialiased;
    scroll-behavior: smooth;
}
body{
    font-family: 'koz-R';
    position: relative;

}

@font-face {
    font-family: 'koz-R';
    src: url('../fonts/KozGoPr6N-Regular-AlphaNum.eot');
    src: url('../fonts/KozGoPr6N-Regular-AlphaNum.eot?#iefix') format('embedded-opentype'),
        url('../fonts/KozGoPr6N-Regular-AlphaNum.woff2') format('woff2'),
        url('../fonts/KozGoPr6N-Regular-AlphaNum.woff') format('woff'),
        url('../fonts/KozGoPr6N-Regular-AlphaNum.ttf') format('truetype'),
        url('../fonts/KozGoPr6N-Regular-AlphaNum.svg#KozGoPr6N-Regular-AlphaNum') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'koz-L';
    src: url('../fonts/KozGoPr6N-Light-AlphaNum.eot');
    src: url('../fonts/KozGoPr6N-Light-AlphaNum.eot?#iefix') format('embedded-opentype'),
        url('../fonts/KozGoPr6N-Light-AlphaNum.woff2') format('woff2'),
        url('../fonts/KozGoPr6N-Light-AlphaNum.woff') format('woff'),
        url('../fonts/KozGoPr6N-Light-AlphaNum.ttf') format('truetype'),
        url('../fonts/KozGoPr6N-Light-AlphaNum.svg#KozGoPr6N-Light-AlphaNum') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'koz-B';
    src: url('../fonts/KozGoPr6N-Bold-AlphaNum.eot');
    src: url('../fonts/KozGoPr6N-Bold-AlphaNum.eot?#iefix') format('embedded-opentype'),
        url('../fonts/KozGoPr6N-Bold-AlphaNum.woff2') format('woff2'),
        url('../fonts/KozGoPr6N-Bold-AlphaNum.woff') format('woff'),
        url('../fonts/KozGoPr6N-Bold-AlphaNum.ttf') format('truetype'),
        url('../fonts/KozGoPr6N-Bold-AlphaNum.svg#KozGoPr6N-Bold-AlphaNum') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'koz-M';
    src: url('../fonts/KozGoPr6N-Medium-AlphaNum_1.eot');
    src: url('../fonts/KozGoPr6N-Medium-AlphaNum_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/KozGoPr6N-Medium-AlphaNum_1.woff2') format('woff2'),
        url('../fonts/KozGoPr6N-Medium-AlphaNum_1.woff') format('woff'),
        url('../fonts/KozGoPr6N-Medium-AlphaNum_1.ttf') format('truetype'),
        url('../fonts/KozGoPr6N-Medium-AlphaNum_1.svg#KozGoPr6N-Medium-AlphaNum') format('svg');
    font-weight: 500;
    font-style: normal;
}




.left-under p{
    font-family: 'koz-L';
}
.btn{
    font-family: 'koz-L';
}
.work-head, .about-title{
    font-family: 'Noto Sans', sans-serif;
}

.top-portion{
    background: #FFFFFF;
    min-height: 400px;
    position: relative;
}
.header .button-top{
    z-index: 13;
}
.header .button-top a:hover {
    text-decoration: none;
}
.top-portion::before{
    content: '';
    position: absolute;
    /*background: url(../images/mimookback.png) no-repeat;*/
    background-position-x: left;
    background-position-y: center;
    z-index: 9;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-size: 15%; 
}
.top-portion .container{
    padding: 32px 15px;
}
.wave-back{
    position: relative;
}
.wave-back::after{
    content: '';
    position: absolute;
    background: url(../images/wave.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    z-index: 9;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    background-size: 55%;
}
.contact-button{
    background: rgba(239, 138, 82, 0.07);
    border-color: #EF8A52;
    color: #EF8A52;
    border-radius: 50px;
    /* height: 77px; */
    /* width: 197px; */
    padding: 15px 20px;
    text-align: center;
}
.contact-button:hover{
    background: #c25b2112;
    color: #EF8A52;
}
.contact-button:focus{
    outline: none;
    box-shadow: none;
}
.logo{
    height: 70px;
    z-index: 13;
}
.logo img{
    height: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px 27px 0px 73px;
}
.under-content{
    padding: 100px 0;
    color: #7E7E7E;
    width: 50%;
    display: flex;
    align-items: center;
}
.under-header{
    position: relative;
}

.under-header-title{
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: 400;
    color: #4E4E4E;
}
.under-header-title .no-margin{
    font-size: 26px;
}
.no-margin{
    margin: 0;
}
.under-header-buttons{
    margin-top: 25px;
    
}
.under-header-buttons .btn{
    background: url(../images/apple.png)no-repeat center/cover;
    color: white;
    font-family: 'Noto Sans',sans-serif;
    border-radius: 10px;
    padding: 10px 20px;
}
.apple-store-image{
    margin-right: 15px;
}
.under-header-buttons button:focus{
    box-shadow: none;
    outline: none;
}
.apple-store-button{
    background: url(../images/apple-store.png) no-repeat center/cover;
    color: white;
}
.google-store-button{
    background: url(../images/google-store.png) no-repeat center/cover;
    color: white;
}
.sliders{
    width: 60%;
}
.banner-content{
    display: flex;
    justify-content: space-evenly;
}
.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out .2s;
}
.left-under{
    z-index: 10;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}
/* top-portion end */

.pre-registration{
    background: rgba(244, 252, 252, 1);
}
.pre-registration-top{
    text-align: center;
    margin-bottom: 45px;
}
.pre-registration-top{
    color: rgba(78, 78, 78, 1);
}
.pre-registration-top h6{
    font-size: 26px;
    font-weight: 400;
    color: rgba(78, 78, 78, 1);
} 
.pre-registration-top p{
    color: rgba(112, 112, 112, 1);
} 
.pre-registration-top .no-margin{
    font-size: 16px;
} 
.pre-registration-bottom{
    display: flex;
    justify-content: center;
}
.pre-registration-container{
    padding: 77px;
}
.sign-up{
    margin-left: 10px;
}
.sign-up button{
    background: rgba(239, 138, 82, 1);
    color: rgba(255, 255, 255, 1);
    padding: 8px 10px;
}
.sign-up button:hover{
    background: #da8455;
    color: rgba(255, 255, 255, 1);
}
.sign-up button:focus{
    outline: none;
    box-shadow: none;
}
.pre-registration-bottom .form{
    width: 50%;
    max-width: 50%;
}
.pre-registration-bottom .form .form-control{
    padding: 20px 5px;
    border-color: transparent;
    font-family: 'Noto Sans',sans-serif;
}

.pre-registration-bottom .form input:focus{
    box-shadow: none;
    outline: none;
}
.pre-registration-second{
    background:#0E999E;
}
.pre-registration-bottom input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: .5 !important; /* Firefox */
  }
  
  .pre-registration-bottom input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: .5 !important;
  }
  
  .pre-registration-bottom input::-ms-input-placeholder { /* Microsoft Edge */
    opacity: .5 !important;
  }
  .pre-registration-second h6{
      color: rgba(255, 255, 255, 1);
  }
  .pre-registration-second p{
      color: rgba(255, 255, 255, .82)
  }
/* pre-registration end */
.about-part{
    background: url(../images/pinkbubble.png) no-repeat center/cover;
    min-height: 600px;
    display: flex;
    align-items: center;
    color: #707070;
}
.about-portion{
    display: flex;
    justify-content: space-between;
}
.about-image img{
    max-height: 370px;
}
.about-title{
    text-align: right;
    font-size: 40px;
    margin-bottom: 60px;
    font-weight: 400;
    color: rgba(14, 153, 158, 1);
    font-weight: bold;
}
.about-content{
    max-width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-content p{
    font-size: 20px;
}
/* about end */

.work-part{
    background: #F4FCFC;
    /* height: 1500px; */
    padding: 50px;
}
.work-part .container{
    /* height: 100%; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.work-head{
    width: 100%;
    text-align: right;
    font-size: 40px;
    color: rgba(14, 153, 158, 1);
    font-weight: bold;
}
/* work-part end */
.user{
    padding-top: 40px;
}
.tab-pane .top-pane{
    padding: 40px 10px 90px;
    max-width: 1140px;
    margin: auto;
    color: #7E7E7E;
    border: 1px solid #EF8A52;
    /* border-top: none; */
    background: #FEF8F5;
    margin-bottom: 80px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.top-pane-inner{
    max-width: 875px;
    margin: auto;
}
.nav-tabs .nav-item{
    /* flex-grow: 1; */
    margin-right: 10px;
    background: rgba(239, 138, 82, 1);
    color: rgba(255, 255, 255, 1);
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    position: relative;
    z-index: 9;
}
.nav-tabs .nav-item .nav-link{
    color: rgba(255, 255, 255, 1);
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    font-size: 26px;
    text-align: center;
}
.user-tabs .nav-link:hover{
    border: 1px solid rgba(239, 138, 82, 1);
}
.user .nav-item .active{
    background: #FEF8F5;
    border: 1px solid rgba(239, 138, 82, 1);
    border-bottom: 1px solid #FEF8F5;
    color: #4E4E4E;
    text-align: center;
}
.image-part{
    text-align: center;
    margin-top: 40px;
}
.tab-pane h6{
    font-size: 30px;
    font-weight: 700;
}
.second-tab{
    background: rgba(92, 127, 168, 1);
}
.third-tab{
    background: rgba(99, 131, 90, 1);
}
.tab-navigation{
    border-bottom: none;
    max-width: 1140px;
    margin: auto;
    z-index: 9;
}
/* user portion end */
.inquiry-portion{
    background: #F4FCFC;
}
.inquiry-portion .container{
    padding: 100px 15px 150px;
}
.red-star{
    color: red;
}
.text-center{
    text-align: center;
}
.inquiry-contents{
    color: #707070;
}
.inquiry-contents h6{
    font-size: 32px;
    font-weight: 400;
    color: rgba(78, 78, 78, 1);
}
.inquiry-contents p{
    color: rgba(112, 112, 112, 1);
}
.inquiry-form{
    max-width: 650px;
    margin: auto;
    padding-top: 50px;
}
.inquiry-form label{
    font-size: 22px;
}
.inquiry-form input{
    border: 1px solid rgba(200, 200, 200, 1);
}
.inquiry-form textarea{
    border: 1px solid rgba(200, 200, 200, 1);
    resize: none;
}
.send-button{
    text-align: center;
    margin-top: 50px;
}
.send-button button{ 
    background: #EF8A52;
    color: #FFFFFF;
    padding: 15px 48px;
}
.send-button button:hover{
    color: white;
    background: #e18b5b;
}
.send-button button:focus{
    outline: none;
    box-shadow: none;
}
.inquiry-form .form-control{
    padding: 25px 5px;
}
.text-area{
    padding: 10px !important;
}
/* inquiry-portion end */
.footer{
    display: flex;
    justify-content: space-between;
    /* height: 60px; */
    align-items: center;
    color: #7E7E7E;
    padding: 20px 15px;
    /* position: absolute; */
    width: 100%;
    background: white;
    /* bottom: 0; */
}
.left-bottom{
    display: flex;
    /* max-width: 490px;
    width: 490px; */
    justify-content: space-between;
}
.left-bottom div{
    margin-right: 50px;
}
.left-bottom p{
    font-size: 20px;
}
.right-bottom p{
    font-size: 20px;
}
.footer a{
    color: #7E7E7E;
}
.footer a:hover{
    text-decoration: none;
}
.main-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 99;
}


/*------------------------------------------------ end of index-----------------------------------------------------*/
.top-portion-privacy{
    background: #F2F2F2;
}
.privacy-policy-main{
    color: #707070;
}
.privacy-policy-main .container{
    display: flex;
    align-items: center;
    padding: 90px 15px;
}
.privacy-policy-main .container .no-margin{
    padding-bottom: 85px;
    font-size: 24px;
}
.privacy-header{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: 400;
}
.top-portion-privacy .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}
/*---------------------------------------------- end of privacy-policy---------------------------------------------- */

.top-portion-terms{
    background: #F2F2F2;
}
.top-portion-terms .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
    margin: auto;
}
.terms-main{
    color: #707070;
}
.terms-header{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: 400;
}
.terms-main .container {
    display: flex;
    align-items: center;
    padding: 90px 15px;
}
.terms-main .container .no-margin {
    padding-bottom: 85px;
    font-size: 24px;
}
/*--------------------------------------------------- end of terms--------------------------------------------------- */

.top-portion-company{
    background: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.top-portion-company .container{
    padding: 30px 15px;
}
.company-contents{
    text-align: center;
}
.tables{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: auto;
    font-size: 12px;
}
.first-table{
    font-size: 24px;
    color: #707070;
}
table{
    background: white;
}
.first-table .table-left-col{
    width: 120px;
}
.second-table .table-left-col{
    width: 110px;
}
.tables .no-margin{
    text-align: left;
    margin: 20px 0;
    font-size: 18px;
    color: #707070;
}
.first-table tbody tr{
    height: 35px;
    vertical-align: top;
}
.company-main .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 15px;
}
.company-head{
    font-size: 40px;
    color: #707070;
    margin-bottom: 50px;
    font-weight: 400;
}
.terms-main:before, .privacy-policy-main:before, .company-main:before{
    content: '';
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    left: 0;
    background-size: 100%;
    background-attachment: fixed;
}
.alert-danger,.alert-success{
    z-index: 10;
}


.col-modded-padding{
    padding: 0 5px !important;
}


/*--------------------------------*/

.login-group ul{
    margin-top: 20px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
}
.login-group ul li{
    position: relative;
    padding: 0 15px;
}

.login-group ul li::before{
    position: absolute;
    content: '|';
    top: 0;
    right: 0;
    height: 30px;
    width: auto;
    color: #ff955b;
}
.login-group ul li:last-child::before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 30px;
    width: auto;
    color: #ff955b;
}


.col-modded-padding{
    padding: 0 5px !important;
}


.login-group ul li a{
    color: #ff955b;
    text-decoration: none;
    font-weight: bold;
}
.login-group ul li a:hover{
    color: #ff6b19;
}

.select2-container{
    margin-bottom: 5px!important;
}








