<ol class="breadcrumb">
    <% 
    if(typeof breadcrumbs != "undefined" && breadcrumbs.length > 0){
    breadcrumbs.forEach(function(breadcrumb){ 
        const link  = breadcrumb.link ?? '#';
        const title = translateLanguage(breadcrumb.title, session.translationdata);
        let breadcrumbLink = `<p style="color: #170c6b;">${title}</p>`
        if(link !== '#'){
            breadcrumbLink = `<a href="${link}">${title}</a>`
        }
        %>
        <li class="breadcrumb-item"><%- breadcrumbLink %></li>
    <% }) } %>
</ol>