<div class="main-footer text-center position-absolute w-100">
    <div class="container">
        <div class="row row-sm">
            <div class="col-md-12">
						<span>Copyright © <%-new Date().getFullYear();%><a href="#" rel="noopener"  target="_blank"> Tonsorium CMS</a>. All rights reserved.</span>
            </div>
        </div>
    </div>
</div>